.news{
    background-color: $gray;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px black solid;
    cursor: pointer;

    &__title{
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 5px;
        color: $black;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:hover{
        transform: scale(1.05)
    }
}

.center{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}